@charset "UTF-8";

/*------------------------------------------------------------------ 
EV SSL証明書について
-------------------------------------------------------------------*/
.evsslBox {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px 0px 0px 0px;
}

.evsslBox-confirm {
	font-size: 108%;
	font-weight: bold;
	color: #95cf0e;
}

.evsslBox-caution {
	background: url(../img/iconCaution.gif) no-repeat left top;
	padding: 0px 0px 3px 18px;
	font-size: 108%;
	font-weight: bold;
	color: #ff6600;
}