@charset "utf-8";

/*-------------------- 
      
	  common
	   
--------------------*/

body {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 13px;
	line-height:1.5;
	letter-spacing:0;
	color: #63461F;
}

/* links */









