@charset "UTF-8";


/*---------------------------------------------------------
閉じるボタン
---------------------------------------------------------*/ 
#btn_close{
	border-top:1px dotted #CCC;
	border-bottom:1px dotted #CCC;
	clear: both;
	padding: 10px 0px;
	margin-bottom:30px;
	
}


#cr{
	font-size: 68%;
	color: #333;
	text-align: center;
}
