@charset "UTF-8";

/*------------------------------------------------------------------ 
トーチミン
-------------------------------------------------------------------*/
#tochi{
	margin: 14px auto 30px;
}

#tochi .pics{
	float: right;
	width: 158px;
	margin-top: 30px;
}

#tochi .desc{
	float: left;
	width: 465px;
}

#tochi dt{
	color: #008837;
	font-weight: bold;
	margin-bottom: 12px;
}

#diet{
	background: url(../../health/common/pointImg.gif) no-repeat right bottom;
	padding-right: 120px;
	width: 540px;
	margin: 14px auto 30px;
}

#diet ul,
#workout ul{
	margin-top:12px;
}

#diet li{
	color: #008837;
	font-weight: bold;
	margin: 0px 0px 4px;
}

#workout{
	background: url(../../health/common/workoutImg.gif) no-repeat right bottom;
}

.grn{
	color: #1A9430;
}


