@charset "UTF-8";

/*------------------------------------------------------------------ 
	キューサイ青汁
-------------------------------------------------------------------*/
#secret01{
	background: url(../img/bg01.jpg) no-repeat right top;
}

#secret01 h3{
	margin-top:20px;
}

#secret01 h4{/*マークアップ変更前のスタイル*/
	margin-top:20px;
}

#secret01 .text{
	padding: 15px 280px 20px 0px;
}

#kale_tomato li {
	float: left;
}

#secret02{
	background:url(../../../common/secret03Bg01.jpg) no-repeat left top;
}

#secret02 h3 {
	margin-top:20px;
	padding-left: 310px;
}

#secret02 h4 {/*マークアップ変更前のスタイル*/
	margin-top:20px;
	padding-left: 310px;
}

#secret02 .text{
	padding: 15px 0px 20px 310px;
}

#secret02 .img{
	padding-left: 310px;
}

#secret03{
	background: url(../img/secret03_bg01.jpg) no-repeat right bottom;
}

#secret03 h3{
	margin-top:20px;
}

#secret03 h4{/*マークアップ変更前のスタイル*/
	margin-top:20px;
}

#secret03 .text{
	padding: 15px 310px 0px 0px;
}


#secret04 {
	background: url(../img/secret04_bg01.jpg) no-repeat right top;
}

#secret04 .text {
	padding: 15px 310px 0px 0px;
}

#secret04 .text span {
	color: #CC0000;
}

.caution {
	color: #CC0000;
}

.btnHowto{
	text-align: right !important;
	margin-top:-70px;
}
