@charset "UTF-8";

.pLayoutL .desc .note{
	font-size: 85%;
}

.presentText03 {
	color:#666666;
	font-size:75%;
	margin-bottom:10px;
	padding-right: 17px;
	text-align: right;
}

.clear{
	clear:both;
}

/*------------------------------------------------------------------ 
ボタン
-------------------------------------------------------------------*/
#products .ttl{
	margin-bottom: 8px;
}

#all{
	background: #F4F4F4 url(../img/categoryBg_b.gif) no-repeat center bottom;
	width: 660px;
	margin: 15px auto 25px;
	padding: 0px 0px 17px;
}

#all .bg{
	background: #F4F4F4 url(../img/categoryBg_t.gif) no-repeat center top;
	padding: 17px 14px 0px;
	width: 632px;
}

#all dt{
	margin: 0px 0px 6px;
}

#all dt.sec{
	margin: 0;
	clear: both;
	padding: 13px 0px 6px;
}

#all li{
	float: left;
	padding-right: 7px;
	margin-bottom: 6px;
}

#all .last{
	padding-right: 0;
}

.rcmd_bnr{
	width: 660px;
	margin: 0px auto 25px;
}


.pLayoutL .freezeAojiruDiscount{
	width: 642px;
	margin: 0 auto;
	clear: both;
}

.emphsmall{
	font-size: 83.40%;
	color:#CC0000;
}

.iconLong img {
	padding-bottom: 3px;
}

.cora-richBtn .pLayoutS .discount .normal{
	width: 154px;
	float: left;
}

.cora-richBtn .pLayoutS .discount .button{
	text-align: center;
	margin-top: 8px;
	padding-top:3px;
}



/*------------------------------------------------------------------ 
冷凍青汁
-------------------------------------------------------------------*/
.pLayoutL .freezeAojiruDiscount p.name {
	float: left;
	width: 259px;
	background: #F2F2F2 url(../../p_common/iconNormalRec.gif) 10px center  no-repeat;
	padding: 7px 0px 5px 75px;
}

.pLayoutL .freezeAojiruDiscount p.name span.price {
	font-weight: bold;
	font-size: 160%;
}

.pLayoutL .freezeAojiruDiscount p.button {
	float: right;
	width: 294px;
}





/*------------------------------------------------------------------ 
元気サポート
-------------------------------------------------------------------*/
#health .pLayoutL .desc .present{
	margin-bottom: 3px;
	color: #CC0000;
}

#health .pLayoutL .desc .note{
	color: #008837;
}

#health .pLayoutL .discount{
	width: 453px;
	margin: 0;
}

#health .pLayoutL .discount li{
	display:block;
}

#health .pLayoutL .discount .teiki{
	width: 216px;
	border-right: 1px dotted #CCC;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
}

#health .pLayoutL .discount .normal{
	width: 216px;
	float: left;
}

		#health .pLayoutL .discount .iconTeiki{
			background: #F2F2F2 url(../../p_common/iconTeikiSq.gif) no-repeat 8px center;
			padding: 9px 0px 9px 48px;
		}
		
		#health .pLayoutL .discount .iconNormal{
			background: #F2F2F2 url(../../p_common/iconNormalSq.gif) no-repeat 8px center;
			padding: 9px 0px 9px 48px;
			width: 159px;
		}

		#health .pLayoutL .discount .iconSet{
			background: #F2F2F2 url(../../p_common/iconSetSq.gif) no-repeat 8px center;
			padding: 9px 0px 9px 48px;
		}
		
		#health .pLayoutL .discount .iconOne{
			background: #F2F2F2 url(../../p_common/iconOneSq.gif) no-repeat 8px center;
			padding: 9px 0px 9px 48px;
		}
		
		
#health .pLayoutL .teiki .price,
#health .pLayoutL .normal .price{
	font-size: 135%;
	line-height: 1.3;
	_font-family:Arial, Helvetica, sans-serif;
}

#health .pLayoutL .discount .single{
	margin-top: 0px;
	padding-top: 10px;
}

#health .pLayoutL .desc .note_kome{
	font-size:85%;
}


/*---------------------------------------------------------
ファンデ通販中止に伴う変更　2013.01.21追加
---------------------------------------------------------*/ 
.crfoundation{
	padding-top:15px;
}



/*---------------------------------------------------------
無添加表示追加　2013.12.06
---------------------------------------------------------*/ 
.pLayoutL .desc h3 .kome{
	font-size: 75%;
}




















@charset "UTF-8";

/*------------------------------------------------------------------ 
青汁 COMMON
-------------------------------------------------------------------*/


#mainColumn h1 {
	margin-bottom: 15px;
}


.head1Aoriiru {
	line-height: 40px;
	margin: 0 0 20px;
	padding: 5px 7px 5px 15px;
	color: #fff;
	font-size: 200%;
	background: url(/contents/contents/aojiru/common/h_bg_01.png) no-repeat 0 0;
	position: relative;
}

.head1Colarich {
	line-height: 40px;
	margin: 0 0 20px;
	padding: 5px 7px 5px 15px;
	color: #fff;
	font-size: 200%;
	background: url(/contents/contents/products/img/h_bg_colarich.png) no-repeat 0 0;
	position: relative;
}

.head1Health {
	line-height: 40px;
	margin: 0 0 20px;
	padding: 5px 7px 5px 15px;
	color: #fff;
	font-size: 200%;
	background: url(/contents/contents/products/img/h_bg_health.png) no-repeat 0 0;
	position: relative;
}

.head1Other {
	line-height: 40px;
	margin: 0 0 20px;
	padding: 5px 7px 5px 15px;
	color: #fff;
	font-size: 200%;
	background: url(/contents/contents/products/img/h_bg_other.png) no-repeat 0 0;
	position: relative;
}


.head1Aoriiru span,
.head1Colarich span,
.head1Health span,
.head1Other span {
	position: absolute;
	right: 7px;
	bottom: 5px;
}

/*
.head1 span {
	vertical-align: top;
	font-size: 70%;
	font-weight: normal;
}
*/


.head1 img {
	vertical-align: middle;
}



.head2 {
	position: relative;
	padding: 0 0 5px;
	margin-bottom: 10px;
	font-size: 200%;
	background: url(/contents/contents/aojiru/common/h_bg_02.png) no-repeat left bottom;
	color:#2B1D14;
}

.head2 span {
	position: absolute;
	right: 0;
	bottom: 15px;
	font-size: 45%;
	font-weight: normal;
}

.aojiruTxt {
	font-size: 140%;
	color: #66871A;
	font-weight: bold;
	margin-bottom: 25px;
}

.healthTxt {
	font-size: 140%;
	color: #1E7FAC;
	font-weight: bold;
	margin-bottom: 25px;
}



.productType {
	overflow: hidden;
	margin: 0 0 40px;
	padding-top: 20px;
}

.productType ul {
	position: relative;
	left: 0;
	width: 711px;
}

.productType li {
	float: left;
	margin: 0 11px 11px 0;
}




.aojiruThought {
	overflow: hidden;
	margin: 0 0 50px;
}

.aojiruThought ul {
	position: relative;
	left: 0;
	width: 710px;
	overflow: hidden;
	margin: 0 0 10px;
}

.aojiruThought li {
	float: left;
	width: 345px;
	margin: 0 10px 10px 0;
}

.aojiruThought dd {
	overflow: hidden;
	padding: 5px 15px 10px;
	border: 1px solid #e4e4e4;
	border-top: none;
}

.aojiruThought dd img {
	float: right;
	margin: 0 0 10px 15px;
}

.aojiruThought p {
	clear: both;
	text-align: center;
}

.itemList {
	overflow: hidden;
	margin: 0 0 30px;
}

.itemList li {
	float: left;
	width: 331px;
	overflow: hidden;
	margin: 0 0 30px;
	padding: 10px 12px 10px 5px;
	border: 1px solid #ccc;
}

.itemList .itemData1,
.itemList .itemData3 {
	float: right;
	width: 215px;
	margin: 0 0 10px;
}

.itemList .itemName {
	margin: 0 0 5px;
	color: #E07F00;
	font-size: 120%;
	font-weight: bold;
}

.itemList .itemName a {
	color: #E07F00;
	text-decoration: none;
}

.itemList .itemName a:hover {
	text-decoration: underline;
}

.itemList .itemCampaign {
	position: relative;
	left: -9px;
	margin: 0 0 3px;
}

.itemList .itemNotes {
	margin: 0 0 5px;
	font-size: 80%;
}

.itemList .itemNotes02 {
	margin: 0 0 10px;
	padding: 5px;
	font-size: 80%;
	background-color: #FFFFD8;
}

.itemList .itemNotes02 span {
	color: #FF6666;
}

.itemList .itemPresent {
	margin: 0 0 10px;
}

.itemList .itemCapacity {
	margin: 0 0 10px;
	padding: 5px;
	background: #F4F1E6;
	font-size:90%;
}

.itemList .itemData2,
.itemList .itemData4 {
	float: left;
	width: 107px;
	margin: 0 0 10px;
	text-align: center;
}

.itemList .itemData2 p,
.itemList .itemData4 p {
	margin: 0 0 10px;
}

.itemList .itemPrice {
	clear: both;
	padding: 10px 0 0;
	border-top: 1px dotted #bdbdbd;
}

.itemList .itemPrice label {
	display: block;
	color: #2B1D14;
	font-size: 80%;
	border-top: 1px solid #F4F1E6;
	padding-top: 10px;
	margin-top: 10px;
}

.itemList .itemPrice1 {
	float: left;
	width: 154px;
	line-height: 1.3;
	padding: 0 0 0 7px;
	font-size: 120%;
	text-align: center;
}

.itemList .itemPrice2 {
	float: right;
	width: 154px;
	line-height: 1.3;
	color: #c00;
	font-size: 120%;
	text-align: center;
}

.itemList .itemPrice3 {
	line-height: 1.3;
	font-size: 120%;
	text-align: center;
}

.itemList .itemPrice1 strong,
.itemList .itemPrice2 strong,
.itemList .itemPrice3 strong {
	font-size: 200%;
}

.itemList .itemPrice1 img,
.itemList .itemPrice2 img,
.itemList .itemPrice3 img {
	margin: 7px 0 0;
}

.itemList img {
	vertical-align: top;
}

.itemList .forCustomer {
	padding: 10px 7px;
	width: 327px;
}



.itemList li.lineNone {
	border-right: 1px solid #fff;
}

.itemList .forCustomer .ttl {
	color: #AB600A;
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 15px;
}

.itemList .forCustomer div {
	overflow: hidden;
	margin-bottom: 20px;
}

.itemList .forCustomer div .txt {
	width: 210px;
	float: left;
}

.itemList .forCustomer div p:first-child {
	float: right;
}

.itemList .forCustomer div a {
	color: #0099CC;
}


.itemList .forCustomer00{
	width:auto !important;
	float:none !important;
}
.itemList .forCustomer00 div .txt {
	width:auto !important;
	float:none;
}


.itemTtlDetail{
	font-size:115%;
	margin-bottom:10px;
	font-weight:bold;
	line-height:1.1 !important;
}
.itemTtlType01{
	color:#668519;
	font-size:320%;
	font-weight:bold;
	line-height:1.2 !important;
}
.itemTtlType02{
	color:#668519;
	font-size:250%;
	font-weight:bold;
	line-height:1.2 !important;
}
