@charset "UTF-8";

/*------------------------------------------------------------------ 
わくわくキューサイポイントサービス
-------------------------------------------------------------------*/
#point {
}

#pointTtl {
	width: 690px;
	height: 290px;
	position: relative;
	margin-bottom: 20px;
}

#pointContentsTtl {
	width: 690px;
	position: relative;
	margin-bottom: 15px;
}

#pointTtl h2,
#pointContentsTtl h2 {
}

#pointTtl ul,
#pointContentsTtl ul {
	position: absolute;
	top: 113px;
	left: 308px;
}

#pointTtl li,
#pointContentsTtl li {
	float: left;
	margin-right: 15px;
	padding: 0px 0 0px 18px;
	background: url(../img/link_icon.png) 0 50% no-repeat;
}

#pointSave {
	position: absolute;
	bottom: 0;
	left: 12px;
}

#pointChange {
	width: 424px;
	height: 143px;
	position: absolute;
	bottom: 0;
	right: 12px;
}


#pointChange .btn {
	position: absolute;
	bottom: 20px;
	right: 16px;
}

#pointTxt {
	width: 655px;
	margin: 0px auto;
	text-align: center;
}

#list {
	width: 703px;
	margin: 0px 0px 10px 0px;
	margin-right: -7px;
}

#list .point {
	border: 1px solid #CCC;
	width: 225px;
	float: left;
	margin:7px 7px 0px 0px;
}

/*#list .pointLast {
	border: 1px solid #CCC;
	width: 225px;
	float: left;
	margin:7px 0px 0px;
}*/

#list h4 {
	background: url(../img/bgProduct.jpg) repeat-x left top;
	margin: 1px 1px 7px;
	color: #008837;
	padding: 3px 10px 7px;
	font-size: 12px;
	font-weight: bold;
}

#list h4 .notsale {
	background: url(../img/iconNotsale.jpg) no-repeat left center;
	padding-left: 55px;
}

#list .pics {
	padding: 0px 9px 10px;
	width: 100px;
}

#pointCaution {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px dotted #CCC;
	clear:both;
}

#pointCaution li {
	text-indent: -1em;
	padding-left: 1em;
}

#pointCaution span {
	font-size: 83%;
}
