@charset "UTF-8";

/*------------------------------------------------------------------ 
ケール青汁（粉末タイプ）善玉菌プラス
-------------------------------------------------------------------*/

#section01 {
	background: url(../img/section01Img01.jpg) right top no-repeat;
}

#section01 p {
	margin-right: 320px;
	min-height: 214px;
	height: auto !important;
	height: 214px;
}

#section02 {
	background: url(../img/section02Img01.jpg) right top no-repeat;
}

#section02 p {
	margin-right: 320px;
	min-height: 214px;
	height: auto !important;
	height: 214px;
}

#section03 p img {
	margin-top: 20px;
}

#section03 p.careful {
	margin-top: 24px;
	padding: 18px;
	background: #F2F2F2;
}

#section03 p.careful img {
	margin-top: 0px;
	margin-bottom: 10px;
}


#secret03{
	background: url(../../aojiru/common/secret03Bg01.jpg) no-repeat left top;
	min-height: 310px;
	height: auto !important;
	height: 310px;
}

#secret03 h4 {
	margin-top:20px;
	padding-left: 310px;
}

#secret03 .text{
	padding: 15px 0px 10px 310px;
}

#secret03 .img{
	padding-left: 310px;
}







#secret04{
	margin-top: 20px;
	background: url(../../aojiru/common/secret04Bbg01.jpg) right bottom no-repeat;
}

#secret04 h4{
	margin-top:20px;
}

#secret04 .text{
	padding: 15px 310px 0px 0px;
}



/*---------------------------------------------------------
recipe
---------------------------------------------------------*/ 

#aojiruRecipe{
	background: url(../../aojiru/common/recipeBg.jpg) no-repeat center top;
	width: 696px;
	min-height: 174px;
}

#aojiruRecipe dl{
	padding: 55px 0px 0px 37px;
}

#aojiruRecipe dd{
	padding: 15px 0px 0px 0px;
}
