@charset "UTF-8";

#moist{
	font-size: 160%;
}

#moist_normal{
	font-size: 140%;
}

#details01{
	margin: 15px auto 30px;
	width: 676px;
}

#elements{
	background:url(../img/bg.jpg) no-repeat right bottom;
}

#details01 .layout{
	border-bottom: 1px dotted #CCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#details01 .layout#nob{
	border-bottom: none;
	position: relative;
}

#details01 .layout#nob .notes {
	position: absolute;
	bottom: 10px;
	right: 0;
}

#details01 .layout .pics{
	width: 180px;
	float: left;
	padding-right: 17px;
}

#details01 .layout .desc{
	float: left;
	width: 479px;
}

#details01 .layout .desc dt{
	margin-bottom:10px;
}

#details01 .emph,
#quality dd .emph{
	font-weight:bold;
	color:#FF6600;
}

#quality{
	border: 1px solid #FF9301;
	/*
	background: #FFFFCC url(../img/element04_2.jpg) no-repeat right bottom;
	*/
	background: #FFFFCC;
	padding: 15px 15px 15px 20px;
	position: relative;
}

#quality .notes {
	position: absolute;
	right: 10px;
	bottom: 5px;
}

#quality dt{
	margin-bottom: 5px;
}

#details02{
	margin: 15px auto 30px;
	width: 676px;
}

#details02 #howto{
	background: url(../img/howto_bg.gif) repeat;
	border: 1px solid #DEB672;
	padding: 22px 17px 15px;
}

#details02 #howto h3{
	margin-bottom:5px;
}

#details02 #howto li{
	float: left;
	margin-top: 15px;
}

.bdr_t{
	border-top:1px dotted #CCC;
	padding-top:5px;
	margin-top:5px;
}