@charset "UTF-8";

/*------------------------------------------------------------------ 
サイトマップ
-------------------------------------------------------------------*/
#sitemap {
	width: 660px;
	margin: 15px auto 0px auto;
}

#sitemap a {
	cursor:pointer;
	text-decoration:none;
	color:#333;
}

#sitemap a:hover {
	text-decoration:underline;
	color:#0099CC;
}

#sitemapLeft {
	width: 380px;
	float: left;
}

#sitemapRight {
	width: 260px;
	float: right;
}

#sitemap h2 {
	border-left: solid 5px #85c80c;
	margin-bottom: 10px;
	padding: 3px 0px 3px 10px;
	font-size: 108%;
	font-weight: bold;
}

#sitemap h2 a:link,
#sitemap h2 a:hover,
#sitemap h2 a:visited{
	color: #006600;
}

#sitemap h4 { /*マークアップ変更前のスタイル*/
	border-left: solid 5px #85c80c;
	margin-bottom: 10px;
	padding: 3px 0px 3px 10px;
	font-size: 108%;
	font-weight: bold;
}

#sitemap ul {
	padding-left: 15px;
	padding-bottom: 10px;
	font-size: 100%;
}

#sitemap ul li.series{
	background: url(../../common/arrowS.gif) no-repeat 4px 7px;
	text-indent: -1em;
	padding-left: 2em;
	font-weight: bold;
}

#sitemap ul li.nos{
	margin-bottom:15px;
}

#sitemap ul.siteDetail li {
	padding-left: 1em;
}

#sitemap ul.siteDetail li.cat_ttl {
	font-weight:bold;
}

#sitemap ul.siteDetail li.sub {
	padding-left: 2em;
}
