@charset "UTF-8";

/*------------------------------------------------------------------ 
品質について
-------------------------------------------------------------------*/
#safety {
}

#safetyTtl {
	background: url(../img/safetyBg.jpg);
	width: 696px;
	height: 327px;
	margin-bottom: 10px;
}

#safetyTtl h2 {
	background: url(../img/safetyTtl.jpg) no-repeat 23px 23px;
	width: 467px;
	height: 58px;
	padding-top: 23px;
	padding-left: 23px;
	text-indent: -9999px;
}

#safetyTtl p {
	width: 475px;
	height: 117px;
	margin-left: 23px;
}

#safety h3 {
	margin-bottom: 15px;
}

#safety-step {
	margin-bottom: 9px;
}

.safety-step-box {
	width: 221px;
	padding-bottom: 10px;
	background: url(../img/safety_stepFt.gif) no-repeat center bottom;
	margin-right: 16px;
	margin-bottom: 16px;
	float: left;
}

.safety-step-box-last {
	width: 221px;
	padding-bottom: 10px;
	background: url(../img/safety_stepFt.gif) no-repeat center bottom;
	margin-bottom: 16px;
	float: right;
}

.safety-step-txt {
	width: 221px;
	background: url(../img/safety_stepBg.gif);
}

.safety-step-txt p {
	padding: 0 16px;
}

#safety-reason {
	margin-bottom: 15px;
}

#safety-reason p {
	width: 477px;
	float: left;
}

#safety-reason-photo {
	float: right;
}

#safety-kale01 {
	width: 345px;
	padding-bottom: 15px;
	background: url(../img/safety_kaleFt.jpg) no-repeat center bottom;
	margin-bottom: 25px;
	float: left;
}

#safety-kale02 {
	width: 345px;
	padding-bottom: 15px;
	background: url(../img/safety_kaleFt.jpg) no-repeat center bottom;
	margin-bottom: 25px;
	float: right;
}

.safety-kale-txt {
	width: 345px;
	background: url(../img/safety_kaleBg.jpg);
}

.safety-kale-txt ul {
	padding: 0 17px 0 15px;
}

.safety-kale-txt p {
	padding: 0 17px 0 15px;
	font-size: 85%;
	line-height: 1.4;
}

.safety-kale-txt ul li {
	background: url(../img/safety_kaleIcon.jpg) no-repeat left top;
	padding: 0 0 5px 23px;
	font-weight: bold;
}

#safety-relief01 {
	margin-bottom: 15px;
}

#safety-relief01 p {
	width: 408px;
	float: left;
}

#safety-relief02 p {
	width: 408px;
	float: right;
}

#safety-relief01-photo {
	float: right;
}

#safety-relief02-photo {
	float: left;
}