@charset "UTF-8";

/*------------------------------------------------------------------ 
キューサイ善玉菌
-------------------------------------------------------------------*/
#nutrition{
	width: 628px;
	margin: 30px auto 10px;
}

#nutrition li{
	float:left;
}
