@charset "UTF-8";

/*------------------------------------------------------------------ 
ファンデーション専用パフ
-------------------------------------------------------------------*/
#howtoPuff{
	width: 659px;
	margin: 0 auto;
}

#howtoPuff li{
	float: left;
	padding: 18px 0px 50px;
}
