@charset "UTF-8";


.notes {
font-size: 80%;
}

#hiroba .btns{
	background: url(../img/bg_btns.gif) no-repeat left top;
/*	text-align: center;*/
	padding: 13px 0px;
	width: 660px;
	margin: 20px auto 0px;
}

#hiroba .btns li{
	float: left;
	margin: 0 0 5px 5px;
}

#hiroba h2 {
}

#hiroba h3 {
	margin: 25px 0 5px 0;
}

#hiroba-navi ul {
	width: 661px;
	margin: 5px auto 0 auto;
}

#hiroba-navi li {
	padding: 2px 20px 0 0;
	float: left;
}

#hiroba-navi li.last {
	padding: 2px 0 0 0;
	float: left;
}

.hiroba-voice {
	width: 668px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #E7EBDA;
}

.hiroba-voice h4{
	font-size: 120%;
	background: url(../img/icon_voice.jpg) 0 0 no-repeat;
	min-height: 28px;
	padding: 5px 0 5px 40px;
	color: #66871A;
	font-weight: bold;
	border-bottom: dotted 1px #BFBBB8;
}

.hiroba-voice-ft {
	width: 661px;
	height: 15px;
	background: url(../img/hirobaBg_b.jpg);
	text-indent: -9999px;
	clear: both;
}

.hiroba-voice-txt {
	width: 500px;
	float: left;
}
.no_ph_txt {
	width:auto !important;
	float:none !important;
}
.hiroba-voice-txt-narrow {
	width: 406px;
	float: left;
}

.hiroba-voice-txt p,
.hiroba-voice-txt-narrow p {
	color: #2B1D13;
	padding-left: 2px;
}

.hiroba-voice .name {
	padding: 7px 0 7px 2px;
	margin-bottom: 10px;
	border-bottom: dotted 1px #BFBBB8;
	font-size: 95%;
	font-weight:bold !important;
}

.hiroba-voice .item {
	margin-bottom: 10px;
}

.hiroba-voice-txt p .note,
.hiroba-voice-txt-narrow p .note {
	line-height:1.2;
	font-size:75%;
}

.hiroba-voice-txt p span.red,
.hiroba-voice-txt-narrow p span.red {
	color: #cc0000;
	font-weight: normal;
	line-height: 1.5;
}

.hiroba-voice-txt-narrow p span.red .note{
	color: #cc0000;
}

.hiroba-voice-photo {
	float: right;
}

.caution {
	padding-right: 12px;
	text-align: right;
	color: #666666;
}

#saeka{
	padding-right: 20px;
}

.head2 {
	position: relative;
	padding: 0 0 5px;
	font-size: 200%;
	background: url(/contents/contents/health/common/h_bg_02.png) no-repeat left bottom;
	color:#2B1D14;
	font-weight:bold;
}

.head2 span {
	position: absolute;
	right: 0;
	bottom: 15px;
	font-size: 30%;
	font-weight: normal;
}

.recommendList {
	overflow: hidden;
	position: relative;
	margin-bottom: 40px;
}

.recommendList h2 {
	margin: 0 0 20px;
	padding-top: 20px;
}

.recommendList h2 span {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 50%;
	font-weight: normal;
}

.recommendList ul {
	position: relative;
	left: 0;
	width: 708px;
}

.recommendList li {
	float: left;
	width: 110px;
	margin: 0 8px 10px 0;
	font-size: 95%;
}

.recommendList li p:first-child {
	margin: 0 0 10px;
	border: 1px solid #CCCCCC;
}

.recommendList li p a {
	font-weight: bold;
}

.recommendList dt {
	margin: 0 0 5px;
	font-weight: bold;
}

.recommendList dt a {
	color: #DF7F00;
	font-weight: bold;
}

.recommendListBtn {
	position: absolute;
	right: 0;
	top: 10px;
}


.clear{
	clear:both;
}

#kuchikomiTopList{
	padding:20px;
	margin:30px 10px 30px 0px;
	background:#FBFAF6;
	border:1px solid #eeeeee;
}
#kuchikomiTopList li{
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px solid #ddd;
	color:#66871A;
}
#kuchikomiTopList li a:link,
#kuchikomiTopList li a:visited{
	color:#66871A;
	text-decoration:underline;
}
#kuchikomiTopList li a:hover{
	color:#66871A;
	text-decoration:none;
}


.hiroba_voice_link{
	text-align:right;
	margin-right:20px;
	clear:both;
}
.hiroba_voice_link a:link,
.hiroba_voice_link a:visited{
	color:#66871A;
	text-decoration:underline;
}
.hiroba_voice_link a:hover{
	color:#66871A;
	text-decoration:none;
}







